body {
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #A5C9CA;
  border-width: 4px;
  width: 3%;
}
/****CLASS CELECTORS****/
.circular {
  border-radius: 100px;
}
